.navbar {
    height: 50px;
    background-color: #011936FF;
    display: flex;
    justify-content: center;
}

.navbar__container {
    width: 100%;
    max-width: 1024px;
    color: #F4FFFDFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: larger;
}

.navbar__logo {
    font-weight: 700;
}

.navbar__button {
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: #011936FF;
    background-color: #F4FFFDFF;
}