.header {
    background-color: #755139FF;
    color: #F2EDD7FF;
    display: flex;
    justify-content: center;
}

.header__container {
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;
}

.header__list {
    display: flex;
    gap: 40px;
    margin-bottom: 50px;
}

.header__listItem {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.header__listItem.active {
    border: 1px solid #F2EDD7FF;
    padding: 5px;
    border-radius: 5px;
}

.header__description {
    margin: 20px 0px;
}

.header__button {
    background-color: #907360;
    color: #F2EDD7FF;
    font-weight: 500;
    border: none;
    padding: 10px;
    cursor: pointer;
}